# SQL Server Configuration Manager: enable TCP/IP for SQLEXPRESS and set TCP Port 1433.
DATABASE_URL="sqlserver://DESKTOP-F5CFA0D:1433;database=DoAnTotNghiep;integratedSecurity=true;trustServerCertificate=true"
PORT=3000
JWT_SECRET="replace-this-in-development"